@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1960px)
  .modal-navigation__wrapper
    flex-direction: column

@media only screen and (max-width : 1600px)
  .header-menu .fl-center .dropdown-menu
    left: auto
    right: 0

  .box-image__wrapper .box-links .icon
    width: 50px
    margin: 0 10px 0 0
    svg
      width: 100%

  .box-image__wrapper .box-links .text
    font-size: 16px
    line-height: 16px

  .box-image__wrapper .box-links
    width: 220px
    padding: 15px 20px
    height: 100px

  .dropdown-menu__wrapper .modal-body
    padding: 30px 20px

  .dropdown-menu__wrapper .box-image__wrapper
    margin: 30px 20px 0 0
    width: 220px

  .modal-body .box-menu h3
    margin: 0 0 15px
    font-size: 20px

  .modal-navigation li a
    font-size: 16px

  .header-menu .fl-right .dropdown-menu
    right: 0

  .box-image__wrapper .box-image .icon
    width: 50px
    height: 50px

  .box-image__wrapper .box-image .text
    font-size: 16px
    line-height: normal

  .box-image__wrapper .box-image
    height: 135px
    padding: 15px

  .list-info-total li
    padding: 0 20px 0 0
    margin: 0 20px 0 0

@media only screen and (max-width : 1500px)
  .top-banner
    .col-12
      padding: 0
    .container
      max-width: none
      padding: 0
    .row
      margin: 0

  .top-banner__content:before
    height: 2px
    bottom: 0

  .top-banner__title
    font-size: 25px

  .top-banner__content .phone
    font-size: 24px

  .top-banner__content .icon-face
    width: 37px
    height: 37px

  .top-banner__content .icon-arrow
    width: 34px
    height: 26px

  .top-banner__content .icon-loc
    width: 38px

  .top-banner__content .hand-icon
    width: 78px

  .top-banner__title span:before
    width: 183px

  .top-banner__title span:after
    width: 100px

  .btn-close
    width: 24px
    height: 24px

  .block-advantages
    display: none
    .icon
      width: 26px
      svg
        width: 100%
    p
      max-width: 187px
      font-size: 16px

  .logo
    margin: 0 auto 0 0

  .header-top
    .block-advantages
      display: flex
      margin: 0

  .main-menu .navbar-nav .nav-item
    margin: 0 40px 0 0
    &:last-child
      display: none

  .main-menu
    align-items: center

  .main-menu .dropdown
    display: block
    margin: 0

  .links-sale
    font-size: 14px
    .icon
      width: 20px
      svg
        width: 100%

  .logo
    width: 266px

  .header-bottom__content
    padding: 26px 0 27px

  .block-search .form-search
    width: 116px

  .block-search__dropdown .form-search
    width: 100%

  .main-category
    margin: 27px -15px 0

  .stages-business
    margin: 18px 0 60px

  .stages-business__content
    justify-content: space-around

  .stages-business__box h3
    font-size: 28px
    line-height: 26px

  .stages-business__box
    width: 286px
    height: 195px
    margin: 0 0 30px

  .stages-business__box-max
    width: 390px
    margin: 0 19px 30px auto
    &:last-child
      margin: 0 auto 30px 19px

  .stages-business__box .number
    font-size: 294px
    line-height: 194px

  .stages-business__box span, .stages-business__box p
    font-size: 21px
    line-height: 19px

  .stages-business__box .stages-business__box-wrapper
    padding: 20px 38px

  .banner
    width: 508px
    height: 408px
    h6
      font-size: 46px
      line-height: 46px
    h3
      font-size: 84px
      line-height: 80px
    p
      font-size: 30px
      line-height: 25px
      margin: 0 auto 30px

  .list-question li:first-child
    max-width: 259px

  .question-wrapper h3
    font-size: 28px

  .form-callback
    width: 295px

  .need-to-sell
    h2
      margin: 0 auto 60px

  .need-to-sell h2
    font-size: 48px

  .services:before
    height: 398px
    background-position: -7% 68px
    -webkit-background-size: 1648px
    background-size: 1648px

  .services
    margin: 90px 0
    padding: 87px 0 0
    h2
      margin: 0 auto 88px

  h2
    font-size: 48px

  .services-box
    margin: 0 auto 50px

  .mortgage__content
    margin: 46px 0

  .mortgage-box
    width: 592px

  .mortgage
    margin: 0 0 80px

  .advantages
    padding: 80px 0
    h2
      margin: 0 auto 70px

  .advantages__box .icon-wrapper
    height: 94px
    margin: 0 auto 30px

  .experts
    margin: 60px 0 0
    h2
      margin: 0 auto 40px

  .nav-pills
    margin: 0 auto 40px

  .experts__box
    width: 318px
    min-width: 318px
    height: 471px
    padding: 63px 10px 63px 45px
    box-sizing: border-box
    overflow: hidden
    .photo
      img
        max-width: none
        height: 100%

  .photo-section p
    margin: 0 0 48px

  .reviews h2
    margin: 0 auto 57px

  .reviews .btn
    margin: 57px auto 0

  .reviews
    padding: 0 0 55px

  .footer-top
    padding: 70px 15px 80px

  .footer-center
    align-items: flex-end
    .box-social
      flex-direction: column
      align-items: flex-start
      margin: 0 33px 0 0
      p
        margin: 0 0 24px

  .box-share
    flex-direction: column
    align-items: flex-start
    p
      margin: 0 0 24px

  .footer-bottom
    padding: 74px 15px 47px
    h3
      font-size: 13px

  .start-work
    margin: 0 0 42px

@media only screen and (max-width : 1370px)
  .container
    max-width: 1296px

  .main-menu .navbar-nav .nav-item
    margin: 0 25px 0 0

  .navbar-expand-lg .navbar-collapse
    margin: 6px 0 0 0

  .modal-navigation__wrapper .modal-navigation
    margin: 0

  .need-to-sell h2
    margin: 0 auto 80px

  .banner
    height: 590px
    width: 387px
    min-width: 387px
    overflow: hidden
    margin: 0 32px 0 0
    .img
      img
        max-width: none
        height: 100%
    h6
      font-size: 43px
      line-height: 40px
    h3
      font-size: 80px
      line-height: 80px
    p
      font-size: 28px
      max-width: 254px

  .box-statistic
    width: 193px
    height: 106px

  .callback-wrapper
    flex-direction: column
    align-items: flex-start

  .question-wrapper .icon-question
    bottom: 0
    right: -10px

  .question-wrapper
    margin: 0
    max-width: none

  .list-question
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
    li
      margin: 0 27px 29px 0

  .need-to-sell__content
    flex-wrap: nowrap

  .form-callback
    margin: 35px 0 0 0
    width: 100%
    flex-direction: row
    flex-wrap: wrap
    display: flex
    justify-content: space-between
    label
      width: 306px
      margin: 0
    .btn-grey
      width: 223px
    .description
      margin: 30px 0
      width: 100%
    .pretext
      margin: 27px auto 0


@media only screen and (max-width : 1300px)
  .top-banner__title
    font-size: 24px

  .top-banner__title span:before
    width: 170px

  .top-banner__title span:after
    width: 93px

  .top-banner__content
    padding: 9px 4px 9px 25px

  .btn-close
    width: 22px
    height: 22px

  .top-banner__content .phone
    font-size: 22px

  .top-banner__content .icon-face
    width: 34px
    height: 34px

  .top-banner__content .icon-arrow
    width: 31px
    height: 24px

  .top-banner__content .hand-icon
    width: 72px

  .top-banner__content .icon-loc
    width: 35px

  .main-menu .navbar-nav .nav-link, .main-menu .dropdown button
    font-size: 14px



@media only screen and (max-width : 1296px)
  .container
    max-width: 1010px

  .navbar-expand-xl .navbar-toggler
    display: flex


  .navbar-expand-xl .collapse:not(.show)
    display: none !important

  #navbar-main
    position: absolute
    left: 0
    top: 100%
    width: 100%
    background: #ffffff
    z-index: 5
    padding: 20px 30px

  .main-menu .navbar-nav .nav-link
    font-size: 16px

  .main-menu .navbar-nav .nav-item
    margin: 0 0 20px

  .navbar
    position: initial

  .main-menu .dropdown
    display: none

  .main-menu .navbar-nav .nav-item:last-child,  .header-top .box-schedule, .header-top .btn-phone
    display: flex

  .box-schedule .phone
    font-size: 18px

  .navbar-expand-xl .navbar-nav
    flex-direction: column

  .box-schedule p
    font-size: 14px

  .header-center__content:before, .block-search
    display: none

  .box-schedule p span
    margin: 0 0 0 2px

  .header-center__content
    .box-schedule, .btn-phone
      display: none
    .block-search
      display: flex
      margin: 0 9px 0 auto

  .logo
    width: 222px

  .header-bottom__content
    padding: 15px 0 27px

  .nav-item__name
    font-size: 13px
    padding: 15px 5px

  .block-search__dropdown
    width: 520px

  .block-search__dropdown .form-search input
    font-size: 18px

  .dropdown-menu__wrapper .modal-body .box-menu
    margin: 0 20px 0 0

  .dropdown-menu__wrapper
    flex-direction: column
    align-items: center

  .dropdown-menu__wrapper .box-image__wrapper
    width: 100%
    margin: 0
    padding: 30px 20px

  .dropdown-menu__wrapper .btn
    margin: 30px auto 0

  .category-box button .text
    font-size: 20px

  .category-box-max button
    width: 391px

  .menu-variant
    margin: 45px auto
    max-width: 599px
    flex-wrap: wrap
    li
      margin: 0 0 18px
      a
        font-size: 20px
        padding: 0 10px

  .stages-business__box
    width: 287px
    height: 195px
    margin: 0 0 26px

  .stages-business__box-max
    margin: 0 0 26px
    &:last-child
      margin: 0 0 26px

  .stages-business__content
    justify-content: space-between

  .services:before
    height: 537px
    -webkit-background-size: 1288px
    background-size: 1288px
    background-position: -10% 106px

  .services
    padding: 60px 0 0
    margin: 60px 0 83px

  .services-box
    height: 309px
    margin: 0 auto 30px

  .services-box
    font-size: 14px

  .services h2
    margin: 0 auto 37px

  .mortgage span
    font-size: 24px

  .mortgage__content
    margin: 55px 0

  .mortgage-box
    width: 461px

  .mortgage
    margin: 0 0 60px

  .advantages
    padding: 40px 0 0

  .advantages h2
    margin: 0 auto 60px

  .advantages__box
    width: 288px
    margin: 0 0 46px

  .advantages__content
    justify-content: space-around

  .nav-pills
    margin: 0 auto 60px

  .photo-section
    min-height: 529px

  .photo-section p
    margin: 0 0 46px

  .reviews h2
    margin: 0 auto 45px

  .reviews
    padding: 0 0 60px

  .footer-top
    padding: 60px 15px

  .footer-bottom .box-left
    max-width: 263px

  .start-work
    margin: 0 0 49px

  .copyright span
    line-height: 24px
    max-width: 220px
    display: inline-block

  .footer-menu .menu-link
    line-height: 24px
    margin: 0 0 10px

  footer
    .box-menu
      max-width: 270px
    .box
      &:nth-child(2)
        max-width: 170px



@media only screen and (max-width : 1199px)
  main
    h1
      margin: 0 0 20px

  .category-box-max button
    width: 100%

  .services-box
    font-size: 18px
    .icon
      margin: 0 0 64px

  .services:before
    height: 637px

@media only screen and (max-width : 1180px)
  .top-banner
    display: none


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header-top .block-advantages, .btn-help, .header-center__content .btn-sell
    display: none

  .main-menu
    padding: 21px 0 15px

  .header-center__content .block-search .form-search
    width: 373px
    input
      height: 50px

  .btn-favorites
    height: 50px

  .logo
    width: 231px

  .modal-navigation li a
    font-size: 14px
    padding: 5px 0
    width: 155px

  .modal-navigation li a .quantity
    font-size: 15px

  .dropdown-menu__wrapper .btn
    width: 220px
    height: 45px

  .header-menu
    li
      &:nth-child(6)
        .dropdown-menu
          left: auto
          right: 0

  .category-box-min button
    width: 100%

  .modal-dialog
    max-width: 95%

  .modal-title
    font-size: 26px

  .need-to-sell h2
    font-size: 32px
    margin: 0 auto 48px

  .banner
    width: 100%
    margin: 0
    height: 266px
    flex-direction: row
    align-items: center
    justify-content: space-between
    .img
      img
        height: auto
        width: 100%
        max-width: 100%
    .text
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      width: 100%
      padding: 0 50px 0 80px
    .text-wrapper
      text-align: left
      align-items: flex-start
    p
      text-align: left
      max-width: 366px
  .need-to-sell__content
    flex-wrap: wrap
    flex-direction: column
    padding: 0

  .box-statistic
    margin: 0
    width: 193px
    height: 144px

  .callback-wrapper
    margin: 49px 0 0
    padding: 60px 15px 0
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    position: relative
    width: 100%
    h3
      width: 100%
      position: absolute
      left: 0
      top: 0
      text-align: center

  .question-wrapper
    position: initial
    max-width: 280px
    .icon-question
      bottom: auto
      top: 90px
      right: auto
      left: 180px

  .form-callback
    width: 350px
    margin: 0
    label
      width: 100%
      margin: 0 0 18px
    .btn-grey
      width: 100%
    .description
      margin: 25px 0 30px

  .list-question li
    margin: 0 0 29px

/* Small Devices, Tablets */
@media only screen and (max-width : 970px)
  .box-share
    .image
      display: none

  .share-wrapper
    display: flex
    flex-direction: column
    align-items: flex-start
    .image
      display: flex
      align-items: flex-start

  .footer-center
    align-items: flex-start

  .footer-menu .menu-link
    font-size: 13px

  footer .box-menu
    max-width: 200px

  .footer-center__wrapper
    align-items: flex-start



@media only screen and (max-width : 900px)
  .stages-business h2
    font-size: 32px
    margin: 0 auto 48px

  .stages-business
    margin: 0 0 5px

  .stages-business__content
    justify-content: space-around

  .stages-business__box
    margin: 0 0 75px

  footer .box-menu
    display: none

  .footer-bottom
    justify-content: space-around

  .copyright span
    max-width: none

@media only screen and (max-width : 800px)
  .services
    margin: 53px 0 54px
    padding: 58px 0 0
    &:before
      height: 641px
      background: #0A2896 center
        size: cover
    h2
      margin: 0 auto 54px

  .services-box
    margin: 0 auto 20px
    .icon
      margin: 0 auto 54px

  .services .line .btn-links
    position: relative
    right: 0
    top: 0
    transform: translate(0)

  .services .line
    justify-content: space-between

  .mortgage h2, .advantages h2
    font-size: 32px

  .mortgage p
    font-size: 21px

  .mortgage__content
    margin: 34px 0 31px

  .special-condition
    font-size: 15px

  .mortgage-box
    margin: 0 auto 16px
    &:last-child
      width: 505px

  .mortgage
    margin: 0 0 36px

  .advantages
    padding: 50px 0 0
    h2
      margin: 0 auto 43px

  .advantages__box
    padding: 0 0 0 60px
    width: 100%
    flex-direction: row
    align-items: center
    justify-content: flex-start
    text-align: left
    margin: 0 0 60px
    .icon-wrapper
      min-height: auto
      margin: 0 15px 0 0
      justify-content: flex-start
      width: 115px
      .number
        margin: 0 -20px 0 0
    h3
      font-size: 18px
      min-height: auto
      margin: 0 0 10px
      br
        display: none
    p
      font-size: 16px


  .experts
    margin: 41px 0 0
    h2
      margin: 0 auto 33px

  .nav-pills
    margin: 0 auto 48px

  .experts__box
    width: 240px
    height: 355px
    padding: 47px 10px 47px 33px
    font-size: 16px
    .photo
      img
        height: auto
        width: 100%

  .photo-section
    min-height: 408px
    p
      font-size: 16px

  .reviews
    padding: 33px 0 50px
    h2
      margin: 0 auto 32px

  .reviews__content-wrapper:after
    left: -50%

  .reviews__content-wrapper:before
    right: -50%

  .footer-top
    padding: 50px 15px

  .footer-bottom
    align-items: flex-start
    padding: 53px 15px 39px
    .box-right
      display: none
    .box-left
      width: 100%
      flex-direction: row-reverse
      display: flex
      max-width: none
      justify-content: space-between
      align-items: flex-start

  .start-work
    margin: 0
    p
      max-width: 186px
      font-size: 15px
      line-height: 20px

  .copyright
    max-width: 334px
    p
      margin: 0 0 10px
    span
      max-width: none

  .footer-center
    justify-content: space-between
    .box-right
      display: flex
      flex-direction: column
      align-items: flex-start
      h3
        display: block

  footer .box:nth-child(2)
    max-width: none

  .footer-center .box-social
    margin: 0 0 36px

  .footer-center__wrapper
    flex-direction: column
    width: auto
    align-items: flex-start

  footer .box-schedule .phone
    margin: 0 18px 0 0

  .box-share p
    margin: 0 0 12px

  footer .box-schedule
    margin: 0 0 37px

@media only screen and (max-width : 768px)
  .btn-phone
    width: 50px
    height: 50px

  .header-bottom__content
    .btn-sell, .btn-help
      height: 50px
    .btn-help
      width: 148px
      background: #F7F7F7
      color: #E73A41
    .btn-sell
      width: 229px
    .navbar-toggler
      background: #0A2896
      height: 50px
      border-radius: 0
      width: 325px
      padding: 0 25px 0 31px
      justify-content: space-between
      .icon
        svg
          path
            stroke: #fff
      .text
        color: #fff
        margin: 0
        font-family: 'gotham-m', sans-serif

  .header-bottom__content .navbar
    width: auto

  .nav-menu
    position: absolute
    left: 0
    top: 100%
    width: 100%
    flex-direction: column
    z-index: 3
    background: #fff

  .nav-item__name
    background: transparent
    color: #0A2896
    width: 100%
    margin: 0
    &:hover, &:focus
      color: #0A2896

  .header-menu
    flex-direction: column
    li
      width: 100%

  .dropdown-menu, .header-menu li:nth-child(6) .dropdown-menu
    position: relative
    left: 0
    top: 0
    width: 100%

  main
    h1
      margin: 0

  .category-box-max button
    width: 405px

  .category-box-min button
    width: 267px

  .main-category
    margin: 22px -15px 0

  .list-info-total
    flex-wrap: wrap
    justify-content: center
    li
      margin: 0 23px 26px 0
      padding: 0 23px 0 0
      &:nth-child(2)
        padding: 0
        margin: 0 0 26px
        &:before
          display: none
      &:last-child
        padding: 0
        margin: 0
        width: 100%
        text-align: center
        justify-content: center

  .menu-variant
    margin: 34px auto 40px

  .stages-business
    margin: 63px 0 25px

  .modal-body
    flex-wrap: wrap
    justify-content: space-around
    .box-image__wrapper
      width: 100%
      justify-content: center
      margin: 30px auto 0

  .stages-business__content
    justify-content: center

  .stages-business__box
    margin: 0 21.5px 75px

  .stages-business__box-max:last-child
    margin: 0 21.5px 75px



@media only screen and (max-width : 730px)
  .header-center__content .block-search .form-search
    width: 268px

  .header-bottom__content .navbar-toggler
    width: 230px
    .text
      font-size: 13px

  .header-bottom__content .btn-sell
    width: 185px

  .header-bottom__content .btn-help
    width: 110px

  .need-to-sell h2
    font-size: 24px
    margin: 0 auto 20px

  .banner
    .text
      padding: 0 20px

  .question-wrapper
    position: relative
    max-width: none

  .callback-wrapper
    padding: 0 15px
    flex-direction: column-reverse
    align-items: center
    margin: 20px 0 0
    h3
      position: relative
      left: 0
      top: 0
      font-size: 24px
      text-align: left
      line-height: 26px
      margin: 0 0 26px

  .box-statistic
    width: 193px
    height: 106px

  .form-callback
    width: 100%
    margin: 0 0 41px
    .description
      margin: 20px 0 24px
    .pretext
      margin: 19px auto 0

  .list-question li
    margin: 0 20px 29px 0

  .reviews__box
    width: 280px
    min-width: 280px
    height: 289px
    padding: 25px 10px 50px
    font-size: 12px
    line-height: 20px

  .reviews__box:before
    width: 168px
    height: 119px

  .reviews__box .name
    font-size: 12px
    margin: 15px 0 18px

  .reviews__box .photo-wrapper .photo
    width: 73px
    height: 73px

  .btn-play
    width: 21px
    height: 21px
    svg
      width: 6px
      height: 8px

  .reviews .btn
    margin: 20px auto 0
    width: 280px
    height: 50px
    font-size: 18px

  .reviews
    padding: 91px 0 23px

  .reviews h2
    margin: 0 auto 8px
    font-size: 24px

  .reviews__content-wrapper:after, .reviews__content-wrapper:before
    display: none

@media only screen and (max-width : 690px)
  .links-sale
    display: none

  .stages-business h2
    margin: 0 auto 24px
    font-size: 24px

  .stages-business
    margin: 44px 0 50px

  .stages-business__box
    width: 100%
    height: auto
    margin: 0
    p, span
      font-size: 16px
      line-height: 18px
      text-align: left
    span
      margin: 10px 0 0
    p
      width: 100%
      span
        display: inline
    h3
      font-size: 16px
      line-height: 18px
      margin: 0 0 5px
    button
      font-size: 16px
      line-height: 20px
    .stages-business__box-wrapper
      flex-direction: row
      justify-content: flex-start
      align-items: flex-start
      flex-wrap: nowrap
      padding: 20px
      border: none
        bottom: 1px solid #D9D9D9
      .text
        align-items: flex-start
        width: 100%

  .stages-business__content
    padding: 0

  .stages-business__box .number
    position: relative
    right: 0
    top: 0
    width: 22px
    min-width: 22px
    height: 22px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    background: #EDEDED
    font-size: 14px
    color: #0A2896
    line-height: 14px
    margin: 0 26px 0 0

  .stages-business__box-max:last-child
    margin: 0

  .stages-business__box-max .img
    display: none

  .copyright
    font-size: 14px
    max-width: 280px
    p
      font-size: 15px
      margin: 0 0 10px

  .footer-center .box-social
    margin: 0 0 30px

  footer .box-schedule
    margin: 0 0 20px
    .phone
      margin: 0 0 10px
      width: 100%

  footer .box-schedule .line
    flex-wrap: wrap

  .experts__box
    min-width: 188px
    width: 188px
    height: 279px
    padding: 35px 10px 35px 26px
    font-size: 12px
    .photo
      img
        max-width: none
        height: 100%
        width: auto

  .nav-pills
    margin: 0 auto 55px
    .nav-link
      width: 143px

  .experts h2
    margin: 0 auto 22px
    font-size: 24px
    
  .experts
    margin: 33px 0 0
    
  .advantages
    padding: 40px 0 0
    
  .advantages h2
    font-size: 35px
    margin: 0 0 20px
    text-align: left

  .advantages__box
    padding: 0
    margin: 0 0 27px

@media only screen and (max-width : 620px)
  .header-center__content .block-search
    .form-search
      width: 200px

  .logo
    margin: 0 auto
    width: 240px

  .block-search__dropdown
    width: 450px

  .footer-center
    flex-direction: column
    align-items: flex-start
    width: 100%
    .address
      p
        font-size: 15px

  .footer-center
    .start-work
      display: flex
      margin: 40px 0 0
    .box-social
      p
        display: none

  .footer-center__wrapper
    order: 1

  .footer-top
    display: none

  .footer-center .box-right
    margin: 40px 0 30px
    h3
      display: none

  .footer-bottom
    padding: 30px 15px 45px
    .start-work
      display: none

  .copyright
    max-width: none

  .photo-section
    background: url("../img/img2-mob.jpg") no-repeat center
      size: cover
    min-height: 240px
    p
      font-size: 12px
      margin: 0 0 15px

@media only screen and (max-width : 575px)
  .header-bottom__content
    .block-search
      display: flex
      margin: 0
      .form-search
        width: 50px
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        input
          color: transparent
          padding: 0
          &::placeholder
            color: transparent
        button
          left: 50%
          right: auto
          top: 50%
          transform: translate(-50%,-50%)
      .block-search__dropdown
        .form-search
          width: 100%
          input
            height: 40px
          button
            left: auto
            right: 15px
            top: 50%
            transform: translate(0,-50%)


  .header-bottom__content .navbar-toggler
    width: 160px
    padding: 0 16px

  .btn-favorites
    width: 60px
    font-size: 13px
    .icon
      width: 16px
      svg
        width: 100%
    .text
      margin: 0 0 0 7px

  .header-center__content
    .block-search, .btn-favorites
      display: none

  .block-search__dropdown .quick-search a
    font-size: 14px

  .header-bottom__content .block-search .block-search__dropdown .form-search
    margin: 0 0 20px

  main
    h1
      text-align: center
      font-size: 18px
      justify-content: center

  .category-box
    height: 200px

  .p-sm-0
    padding: 0

  .category-box button .text
    font-size: 18px

  .category-box-min button, .category-box-max button
    width: 100%
    flex-wrap: wrap
    height: auto
    padding: 9px 30px

  .main-category
    margin: 14px -15px 0

  .menu-variant
    margin: 16px 0 0
    justify-content: flex-start
    li
      flex: initial
      margin: 0 5px 5px 0
      border: none
      a
        background: #F7F7F7
        font-size: 14px
        font-family: 'chocolates-b', sans-serif
        padding: 14px 11px 13px 12px

  .stages-business
    margin: 44px 0

  .advantages__box
    flex-direction: column
    align-items: flex-start
    .icon-wrapper
      height: auto
      margin: 0 0 28px

  .services .line
    flex-direction: column
    align-items: center


  .services .line .btn-additional
    width: 280px
    font-size: 14px
    margin: 0 auto 21px
    .icon
      width: 12px
      svg
        width: 100%

  .services .line .btn-links
    font-size: 14px
    .icon
      width: 12px
      svg
        width: 100%

@media only screen and (max-width : 520px)
  .header-top .box-schedule
    display: none

  .btn-phone
    width: auto
    height: auto
    background: transparent
    .text
      display: flex
    .icon
      width: 16px
      height: 16px
      svg
        width: 100%
        height: 100%

  .navbar-toggler
    .text
      margin: 0 0 0 8px
      font-family: 'gotham-m', sans-serif
      font-size: 13px
    .icon
      display: none

  .main-menu
    padding: 17px 0 15px

  .header-bottom__content
    .navbar-toggler .icon
      display: block


  .special-condition
    flex-direction: column
    align-items: center
    .icon
      margin: 0 auto 10px
    p
      max-width: 240px
      margin: 0 auto
      text-align: center
      font-size: 18px
      line-height: 25px

  .mortgage__content
    flex-direction: row
    align-items: center
    flex-wrap: nowrap
    justify-content: flex-start
    width: 100%
    overflow-x: auto
    margin: 10px 0

  .mortgage-box
    margin: 0
    width: 386px
    min-width: 386px

  .mortgage h2
    font-size: 35px
    margin: 0 0 11px

  .services
    margin: 38px 0 50px
    padding: 39px 0 0
    &:before
      background: #0A2896
      height: 483px
    h2
      margin: 0 0 25px
      font-size: 35px

  .s-box
    padding: 0

  .services-box
    margin: 0
    width: 100%
    height: 162px
    padding: 24px 23px 22px
    font-size: 16px
    border-radius: 0
    .icon
      margin: 0 auto 14px
      width: 64px
      height: 49px
      min-height: 49px
      svg
        width: 100%
        height: 100%
    .img-bg
      display: none

  .services .line
    margin: 20px 0 0
@media only screen and (max-width : 480px)
  .block-search__dropdown
    width: 290px
    padding: 20px 15px

  .block-search__dropdown .quick-search a
    padding: 10px
    margin: 0 10px 10px 0
    font-size: 12px

  .dropdown-menu__wrapper .modal-body .modal-body__top
    flex-direction: column
    align-items: center
    width: 100%

  .dropdown-menu__wrapper .modal-body
    width: 100%

  .dropdown-menu__wrapper .modal-body .box-menu
    margin: 0 0 20px
    width: 100%

  .modal-navigation li a, .modal-navigation__wrapper .modal-navigation
    width: 100%

  .category-box-min button
    flex-direction: column
    align-items: flex-start
    padding: 9px 20px
    min-width: 29px
    .quantity
      margin: 13px 0 0 0

  .category-box button .quantity
    width: 29px
    height: 29px


  .category-box-max button
    padding: 9px 20px

  .modal-header
    padding: 30px 20px 0

  .modal-body
    padding: 30px 20px
    .box-menu
      width: 100%
      margin: 0 0 20px

  .modal-footer
    padding: 0 20px 30px

  .banner
    height: 386px
    .img
      img
        height: 100%
        max-width: none
        width: 100%
    .text
      flex-direction: column
      align-items: center
    .text-wrapper
      justify-content: center
      align-items: center
      text-align: center
    p
      text-align: center
      margin: 0 auto 19px
      max-width: 255px


/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .list-question
    flex-direction: column
    align-items: flex-start
    li
      margin-right: 0
      padding: 13px 0 13px 13px
      max-width: 207px

  .banner
    min-width: auto

  .question-wrapper .icon-question
    left: auto
    right: 0
    top: 115px

@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

